---
---

@tailwind base;
@tailwind components;

/* Nothing above here */

/* Large (lg) */
@media (min-width: 1024px) {
  .container {
    max-width: 60rem;
  }
}

.footer-gray {
  background-color: #F8F8F8;
}

.text-gold-900 {
  color: #C39C70;
}

body {
  color: #494B67;
  font-family: 'Sora', sans-serif;
}

/* Nothing below here */

@tailwind utilities;
