<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>

    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">
  </head>

  <body class="flex flex-col min-h-screen">
    <header class="sm:flex sm:justify-between sm:items-center sm:mx-12 sm:mt-5 mb-10">
      <div class="flex items-center justify-between mx-4 my-3 sm:p-0">
        <div class="text-4xl">
          <a href="/"><strong>Stase</strong><span class="font-thin">Paxton</span></a>
        </div>

        <div class="sm:hidden">
          <button id="js-toggle-nav" type="button">
            <i class="fas fa-bars text-2xl"></i>
          </button>
        </div>
      </div>

      <nav id="js-nav" role="navigation" class="block hidden px-2 pt-2 pb-4 sm:flex sm:p-0">
        <a class="block px-2 py-1" href="/">Home</a>
        <a class="mt-1 block px-2 py-1 sm:mt-0 sm:ml-2" href="/design">Design</a>
        <a class="mt-1 block px-2 py-1 sm:mt-0 sm:ml-2" href="/art">Art</a>
        <a class="mt-1 block px-2 py-1 sm:mt-0 sm:ml-2" href="/about">About & Contact</a>
      </nav>
    </header>

    <main class="flex-grow mb-12">
      {{ content }}
    </main>

    <footer class="px-48 pt-48 pb-4 footer-gray">
      <div class="container mx-auto">
        <div class="flex">
          <span class="font-thin text-xl">Copyright of Stase Paxton</span>
        </div>
      </div>
    </footer>

    <script src="https://kit.fontawesome.com/0fc4a55089.js" crossorigin="anonymous"></script>
    <script src="/js/site.js"></script>
  </body>
</html>
